/*styling for header
*/

header {
    text-align: center;
    color: white;
    background: grey;
    padding: 15px 0 15px 0;
    font-family: 'Staatliches', cursive;
    text-shadow: 2px 2px black;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

h1 {
    margin-bottom: 0;
}

/*basic styling for body
*/

.row {
    height: 200px;
}

#imgRow {
    height: 250px;
}

.button {
    display: flex;
  align-items: center;
  justify-content: center;
}

#text {
    text-align: center;
}

.score {
    text-align: center;
}

#text2 {
    font-family: 'Akaya Telivigala', cursive;
}

/*media queries*/

@media screen and (max-width: 1025px) and (max-height: 1367px) {

    #imgRow {
        height: 300px;
    }

}

@media screen and (max-height: 1025px) and (max-width: 1367px) {

    #imgRow {
        height: 300px;
    }

}

@media screen and (max-width: 768px) and (max-height: 1024px) {

    .button {
        width: 50%;
    }

    .score {
        width: 33%;
    }

}

@media screen and (max-height: 768px) and (max-width: 1024px) {

    .row {
        height: 100px;
    }

    #imgRow {
        height: 255px;
    }

}

@media screen and (max-width: 540px) and (max-height: 720px) {

    #imgRow {
        height: 275px;
    }

}

@media screen and (max-width: 415px) and (max-height: 737px) {

    #imgRow {
        height: 275px;
    }

}

@media screen and (max-height: 415px) and (max-width: 737px) {

    .row {
        height: 50px;
    }

    #imgRow {
        height: 185px;
    }

    img {
        width: 25%;
    }

}

@media screen and (max-width: 412px) and (max-height: 824px) {

    .row {
        height: 150px;
    }

}

@media screen and (max-height: 412px) and (max-width: 824px) {

    .button {
        width: 50%;
    }

    .row {
        height: 75px;
    }

    #imgRow {
        height: 160px;
    }

    img {
        width: 15%;
    }

    .score {
        width: 33%;
    }

}

@media screen and (max-width: 412px) and (max-height: 732px) {



}

@media screen and (max-height: 412px) and (max-width: 732px) {

    img {
        width: 20%;
    }

}

@media screen and (max-width: 376px) and (max-height: 813px) {



}

@media screen and (max-height: 376px) and (max-width: 813px) {

    .row {
        height: 70px;
    }

    #imgRow {
        height: 140px;
    }

    img {
        width: 13%;
    }

}